<section>

    <p tabindex="0">Deze website is gemaakt met een custom screen reader. Op dit moment kun je voor de optimale ervaring
        je screen
        reader uitzetten en door tabben naar de volgende sectie.</p>

    <p>Day: <%= data[0].day %></p>

    <table>
        <thead>
            <tr>
                <th tabindex="0">Land</th>
                <th tabindex="0">Totaal</th>
                <th tabindex="0">Doden</th>
                <th tabindex="0">Nieuw</th>
                <th tabindex="0">Kritiek</th>
                <th tabindex="0">Herstelt</th>
            </tr>
        </thead>

        <% data.forEach(entry => { %>
        <tr>
            <td tabindex="0"><%= entry.country %></td>
            <td tabindex="0"><%= entry.cases.total %></td>
            <td tabindex="0"><%= entry.deaths.total %></td>
            <td tabindex="0"><%= entry.cases.new %></td>
            <td tabindex="0"><%= entry.cases.critical %></td>
            <td tabindex="0"><%= entry.cases.recovered %></td>
        </tr>
        <% }) %>
    </table>
</section>